$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$font-main: Manrope, sans-serif;
$effectDuration: 0.3s;
$main-text-color: #1b2129;
$color-text-label: #9393A3;
$color-text-muted: #7E7E83;
$color-white: #fff;
$color-accent: #f98921;
$color-accent-dark: #010810;
$color-bg-light: #F9F9F9;
$color-bg-section: #fcfaef;
$color-border-light: #DBDBDB;
